<!-- base_form.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Formulario{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<div class="w-full max-w-6xl p-6 bg-white shadow-xl rounded-lg">
    <!-- Botón para volver atrás -->
    <a href="javascript:history.back()" class="inline-flex items-center text-gray-600 hover:text-gray-800 mb-4">
        ← Volver atrás
    </a>

    <h2 class="text-center text-2xl font-semibold text-gray-800 mb-4">
        {% block form_title %}Formulario{% endblock %}
    </h2>

    <!-- Aquí se insertará el formulario desde las plantillas hijas -->
    {% block form_content %}{% endblock %}
</div>

</body>
</html>
