{% extends 'base.html' %}

{% block title %}Lista de Facturas{% endblock %}

{% block content %}
<div class="flex items-center justify-between gap-4 border-b-2 border-[#e67a39] pb-2">
    <h2 class="text-4xl font-semibold text-[#f5f5f5]">
        Facturas
    </h2>
    <div class="relative w-full max-w-md">
        <span class="material-symbols-outlined absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
            search
        </span>
        <input type="text" id="invoice-search" 
            placeholder="Buscar factura..."
            class="w-full pl-10 pr-4 py-2 border border-gray-600 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[#e67a39] text-primary placeholder-gray bg-[#282c36]">
    </div>
</div>

<table class="table-auto border-collapse border border-[#e67a39] w-full mt-4">
    <thead>
        <tr class="bg-[#393743]">
            <th class="border border-gray-400 px-4 py-2 text-[#e67a39] text-center"># Factura</th>
            <th class="border border-gray-400 px-4 py-2 text-[#e67a39] text-center">Cliente</th>
            <th class="border border-gray-400 px-4 py-2 text-[#e67a39] text-center">Fecha de Emisión</th>
            <th class="border border-gray-400 px-4 py-2 text-[#e67a39] text-center">Fecha de Vencimiento</th>
            <th class="border border-gray-400 px-4 py-2 text-[#e67a39] text-center">Monto</th>
            <th class="border border-gray-400 px-4 py-2 text-[#e67a39] text-center">Acciones</th>
        </tr>
    </thead>
    <tbody id="invoice-body">
        {% for invoice in page_obj %}
        <tr class="hover:bg-[#2c2a34] {% if forloop.counter|divisibleby:2 %}bg-[#393743]{% else %}bg-[#2c2a34]{% endif %}">
            <td class="border border-gray-400 px-4 py-2 text-center text-primary">{{ invoice.print_number }}</td>
            <td class="border border-gray-400 px-4 py-2 text-center text-primary">{{ invoice.client }}</td>
            <td class="border border-gray-400 px-4 py-2 text-center text-primary">{{ invoice.emitted_date }}</td>
            <td class="border border-gray-400 px-4 py-2 text-center text-primary">{{ invoice.expire_date|default:"Sin vencimiento" }}</td>
            <td class="border border-gray-400 px-4 py-2 text-center text-primary">${{ invoice.calc_total }}</td>
            <td class="border border-gray-400 px-4 py-2 text-center">
                <div class="flex justify-center space-x-2">
                    <a href="{% url 'invoice_detail' invoice.id %}" class="bg-[#e2926f] text-[#282c36] hover:bg-[#ff9b67] w-10 h-10 flex items-center justify-center rounded-full transition duration-300 ease-in-out">
                        <span class="material-symbols-outlined text-lg">visibility</span>
                    </a>
                    <a href="{% url 'edit_invoice' invoice.id %}" class="bg-[#f4c542] text-[#282c36] hover:bg-[#f6d161] w-10 h-10 flex items-center justify-center rounded-full transition duration-300 ease-in-out">
                        <span class="material-symbols-outlined text-lg">edit</span>
                    </a>
                    <a href="{% url 'delete_invoice' invoice.id %}" class="bg-[#e74c3c] text-white hover:bg-[#ff6b5c] w-10 h-10 flex items-center justify-center rounded-full transition duration-300 ease-in-out">
                        <span class="material-symbols-outlined text-lg">delete</span>
                    </a>                                    
                </div>
            </td>                           
        </tr>
        {% endfor %}
    </tbody>    
</table>
<!-- Paginación -->
<div class="flex justify-center mt-4">
    <div class="flex space-x-2">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="bg-[#e67a39] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#d25f28] transition duration-300 ease-in-out flex items-center space-x-2">
                <span class="material-symbols-outlined">first_page</span>
                <span>Primera</span>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}" class="bg-[#e67a39] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#d25f28] transition duration-300 ease-in-out flex items-center space-x-2">
                <span class="material-symbols-outlined">navigate_before</span>
                <span>Anterior</span>
            </a>
        {% endif %}
        <span class="px-4 py-2 text-[#e67a39] font-semibold">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="bg-[#e67a39] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#d25f28] transition duration-300 ease-in-out flex items-center space-x-2">
                <span class="material-symbols-outlined">navigate_next</span>
                <span>Siguiente</span>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="bg-[#e67a39] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#d25f28] transition duration-300 ease-in-out flex items-center space-x-2">
                <span class="material-symbols-outlined">last_page</span>
                <span>Última</span>
            </a>
        {% endif %}
    </div>
</div>





<a href="{% url 'create_invoice' %}" 
   class="fixed bottom-4 right-4 bg-gray-800 text-orange-300 p-4 rounded-full shadow-lg hover:bg-orange-600 transition flex items-center justify-center border border-gray-600">
   <span class="material-symbols-outlined" style="font-size: 6rem;">add</span>
</a>
{% endblock %}


{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchBox = document.getElementById("invoice-search");
        const tableBody = document.getElementById("invoice-body");

        searchBox.addEventListener("input", async function() {
            const query = searchBox.value.trim();

            const response = await fetch(`/facturas/search-invoices/?q=${query}`);
            const data = await response.json();

            tableBody.innerHTML = ""; // Limpiar la tabla antes de insertar nuevas filas
            
            data.forEach((invoice, index) => {
                if (index % 2 === 0) {
                    bg_color = "bg-[#393743]";
                } else {
                    bg_color = "bg-[#2c2a34]";
                }
                const row = `<tr class="hover:bg-gray-100">
                    <td class="border border-gray-400 px-4 py-2 text-center ${bg_color} text-primary text-center">${invoice.print_number}</td>
                    <td class="border border-gray-400 px-4 py-2 ${bg_color} text-primary text-center">${invoice.client}</td>
                    <td class="border border-gray-400 px-4 py-2 ${bg_color} text-primary text-center">${invoice.emitted_date}</td>
                    <td class="border border-gray-400 px-4 py-2 ${bg_color} text-primary text-center">${invoice.expire_date ? invoice.expire_date : 'Sin vencimiento'}</td>
                    <td class="border border-gray-400 px-4 py-2 text-center ${bg_color} text-primary text-center">$${invoice.calc_total}</td>
                    <td class="border border-gray-400 px-4 py-2 text-center ${bg_color}">
                        <div class="flex justify-center space-x-2">
                            <a href="/facturas/${invoice.id}/" 
                            class="bg-[#e2926f] text-[#282c36] hover:bg-[#ff9b67] w-10 h-10 flex items-center justify-center rounded-full transition duration-300 ease-in-out">
                                <span class="material-symbols-outlined text-lg">visibility</span>
                            </a>
                            <a href="/facturas/editar/${invoice.id}" 
                            class="bg-[#f4c542] text-[#282c36] hover:bg-[#f6d161] w-10 h-10 flex items-center justify-center rounded-full transition duration-300 ease-in-out">
                                <span class="material-symbols-outlined text-lg">edit</span>
                            </a>
                            <a href="/facturas/eliminar/${invoice.id}" 
                            class="bg-[#e74c3c] text-white hover:bg-[#ff6b5c] w-10 h-10 flex items-center justify-center rounded-full transition duration-300 ease-in-out">
                                <span class="material-symbols-outlined text-lg">delete</span>
                            </a>
                        </div>

                    </td>
                </tr>`;
                tableBody.innerHTML += row;
            });
        });
    });
</script>
{% endblock %}

