<!-- base_form.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Formulario{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#282c36] flex items-center justify-center min-h-screen">

<div class="w-full max-w-none p-6 bg-[#1e2126] shadow-xl rounded-lg">
    <!-- Botón para volver atrás con icono -->
    <a href="javascript:history.back()" class="inline-flex items-center text-[#e2926f] hover:text-white hover:bg-[#ff9b67] px-4 py-2 rounded-lg border border-[#e2926f] hover:border-transparent focus:outline-none transition-all duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 19l-7-7 7-7"></path>
        </svg>
        Volver atrás
    </a>

    <h2 class="text-center text-2xl font-semibold text-[#f4c542] mb-4">
        {% block form_title %}Formulario{% endblock %}
    </h2>

    <!-- Aquí se insertará el formulario desde las plantillas hijas -->
    {% block form_content %}{% endblock %}
</div>

{% block scripts %}{% endblock %}
</body>
</html>
